<div class="container text-center">

    <h1 class="text-info">Inquiry Confirmation</h1>

    <p>We have received your email. Someone from our team will contact you shortly!</p>

    <img src="~/images/inquiry/patio.jpg" />

</div>


